.container {
    border: 10px double black;
    padding: 10px;
    margin-top: 30px;
}

.container h1 {
    margin-bottom: 1.5rem;
}

.container h3 {
    margin-top: 2rem;
}

@media (min-width: 576px) {
    .container {
        padding: 40px;
    }

    .container ol {
        padding-left: 4rem;
    }
}

@media (min-width: 992px) {
    .container {
        margin-top: 0;
    }
}